.link {
  color: inherit;
  text-decoration: none;

  &:hover {
    .link-animated {
      margin-right: 14px;
      color: $dark_green;
    }
  }
}

.link-animated {
  position: relative;
  transition: all 0.3s;
  color: $green_black;

  svg {
   color: $dark_green;
  }
}