.link {
  color: inherit;
  text-decoration: none;

  &:hover {
    .bordered::after {
      background-color: $green_black;
    }
  }
}

.bordered {
  position: relative;

  &::after {
    position: absolute;
    bottom: 4px;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: transparent;
    transition: background-color 0.3s;
  }
}