@import url('../fonts/poppins/stylesheet.css');
@import 'reset';
@import 'variables';
@import 'typography';
@import 'buttons';
@import 'links';
@import 'mixins';

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
  border: 1px solid transparent;
  outline: 0;

  &:active, &:focus {
    border-color: rgba(72, 98, 96, 0.43);
  }

  &.error {
    color: #EB5757;
    border-color: #FBA0AB;
  }
}

.error-message {
  color: #EB5757;
  display: block;
  text-align: left;
  margin-top: 16px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

.section {
  padding: 100px 0;
}

.section-bottom {
  text-align: center;

  .body1 {
    margin-bottom: 26px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    padding: 0;
    max-width: 1200px;
  }
}


@import './nav/nav';
@import './header/header';
@import './doctors/doctors';
@import './knowledge/k-base';
@import './members/members';
@import './footer/footer';
@import './modal/modal';