.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 81px;
  background-image: url('../img/bg/hero-bg.svg'), linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 38.16%), linear-gradient(255.72deg, rgba(118, 221, 190, 0.2) -0.83%, rgba(199, 241, 221, 0.2) 36.06%, rgba(242, 254, 99, 0.2) 86.93%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 680px;

  @include block_992 {
    padding: 160px 16px 0;
  }
}

.hero {
  max-width: 771px;
  text-align: center;
  margin-bottom: 58px;

  @include block_992 {
    margin-bottom: 111px;
  }

  @include block_768 {
    max-width: 100%;
  }

  .h1 {
    margin-bottom: 13px;
    font-size: 36px;
    color: $green_black;
  }

  .body1 {
    margin-bottom: 48px;
    color: $dark_green;

    @include block_992 {
      margin-bottom: 36px;
    }
  }

  .btn {
    @include block_576 {
      width: 100%;
    }
  }
}

.header-people {
  position: relative;

  @include block_992 {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 60px;
  }
}

.header-people__decor {
  position: absolute;

  &:first-child {
    top: -74px;
    left: 95px;
  }

  &:nth-child(2) {
    top: -100px;
    right: 30px;
  }

}

.header-center-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 562px;
  row-gap: 12px;
  color: $green_black;

  @include block_1200 {
    max-width: 450px;
  }

  @include block_992 {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    max-width: 100%;
    width: 100%;
  }


  .btn {
    margin-top: 36px;
    width: max-content;

    @include block_576 {
      width: 100%;
      font-size: 24px;
      font-weight: 600;
      padding: 24px;
      height: 72px;
      border-radius: 24px;
    }
  }

  .body1 {
    color: $dark_green;
  }
}

.header-people__img {
  max-width: 100%;
}
