.modal-wrapper {
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
    transition: background-color 0.3s;
  }

  &.active {
    &::before {
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 2;

      @include block_768 {
        background: linear-gradient(265.23deg, #7CFABD 4.6%, #95F3AA 42.24%, #BBE98E 97.75%), #FFFFFF;
        box-shadow: 0 44px 60px rgba(115, 148, 144, 0.15);
      }
    }

    .modal {
      opacity: 1;
      visibility: visible;
    }

    .modal-header {
      @include block_768 {
        opacity: 1;
        visibility: visible;
        border-bottom: 1px solid #28363538;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #EAF4F2;
  box-shadow: 0 40px 123px rgba(40, 54, 53, 0.55);
  border-radius: 48px;
  z-index: 3;
  padding: 96px 72px;
  text-align: center;
  height: 429px;
  min-width: 737px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;

  @include block_768 {
    background-color: transparent;
    box-shadow: none;
    min-width: 0;
    width: 100%;
  }

  @include block_576 {
    padding: 16px;
  }

  .close {
    position: absolute;
    right: 32px;
    top: 32px;
    border-radius: 50%;

    @include block_768 {
      display: none;
    }
  }

  .h2 {
    margin-bottom: 13px;
  }

  .step {
    display: none;

    &.active {
      display: block;
    }
  }
}

.modal__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
  color: $dark_green;
  margin-bottom: 48px;
}

.modal-control {
  display: flex;
  justify-content: center;

  @include block_768 {
    flex-direction: column;
    width: 100%;
  }

  .btn {
    background-color: $green_black;
    background-image: none;
    color: $pale_green;
  }
}

.modal__input {
  background-color: #FFFFFF;
  box-shadow: 0 10px 30px rgba(105, 126, 120, 0.18);
  border-radius: 24px;
  padding: 24px 140px 24px 24px;
  margin-right: -129px;
  height: 72px;
  min-width: 450px;
  font-weight: 500;

  @include block_768 {
    min-width: 0;
    margin-right: 0;
    padding: 24px;
    width: 100%;
  }
}

.modal-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 18px 16px;
  height: 61px;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .close {
    background-color: transparent;

    svg {
      width: 36px;
      height: 36px;
    }
  }
}

.desktop-envelope {
  display: inline-block;
  @include block_768 {
    display: none;
  }
}

.mobile-envelope {
  display: none;
  @include block_768 {
    display: inline-block;
  }
}

.step-2 {
  @include block_768 {
    .btn {
      margin-top: 41px;
      width: 100%;
    }
  }
}