.knowledge {
  .h2 {
    margin-bottom: 54px;

    @include block_992 {
      margin-bottom: 36px;
    }
  }

  .body1 {
    color: $dark_green;
    margin-bottom: 26px;
  }
}

.knowledge-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(1px, 1fr));
  gap: 20px;
  margin-bottom: 60px;

  @include block_992 {
    grid-template-columns: 1fr;
    margin-bottom: 36px;
  }
}

.knowledge-card {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  border-radius: 20px;
  padding: 40px;
  background-color: $pale_green;
  transition: all 0.3s;
  grid-column: span 2;
  min-height: 200px;
  overflow: hidden;

  @include block_992 {
    grid-column: span 1;
    min-height: 160px;
  padding: 24px;
  }

  &:not(.lg):hover {
    background-image: none;
    background-color: #FFF2E7;
  }

  &.lg {
    grid-column: span 3;
    min-height: 280px;
    padding-right: 205px;

    @include block_992 {
      grid-column: span 1;
      min-height: 268px;
      padding-right: 23px;
    }
  }

  &:hover {
    filter: drop-shadow(16px 40px 50px rgba(130, 101, 89, 0.18));
    background-image: linear-gradient(259.03deg, #FFF2E7 26.2%, #FCCBAF 100%);;
  }

  .link {
    margin-top: auto;
  }

  .link-animated {
    margin-right: 8px;
  }
}

.knowledge-card__decor {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  @include block_992 {
    width: 122px;
    height: 93px;
    top: auto;
    bottom: -30px;
    right: 0;
  }
}

.knowledge-card__wave-line {
  position: absolute;
  top: 45px;
  right: 25px;

  @include block_992 {
    display: none;
  }
}

.knowledge-card__ribbon {
  position: absolute;
  bottom: 44px;
  right: 56px;

  @include block_768{
    bottom: 24px;
    right: 36px;
  }
}

.knowledge--relative {
  position: relative;
}

.knowledge__decor {
  position: absolute;
  bottom: 70px;
  right: 25%;
  transform: translateX(50%);

  @include block_768{
    display: none;
  }
}