.footer {
  border-top: 1px solid #28363538;
  padding: 36px 36px 60px 36px;

  @include block_992 {
    border-top: 0;
    padding: 0 16px 32px;
  }
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include block_480 {
    flex-direction: column;
    row-gap: 24px;
  }
}

.footer-menu {
  display: flex;
  align-items: center;
  column-gap: 36px;

  @include block_992 {
    display: none;
  }

  a {
    font-size: 14px;
    color: $dark_green;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    padding-bottom: 15px;

    &:hover {
      color: #000;

      &::after {
        background-color: $green_black;
      }
    }

    &::after {
      position: absolute;
      content: '';
      display: block;
      height: 4px;
      background-color: transparent;
      transition: all 0.3s;
      left: 0;
      right: 0;
      bottom: -1px;
      border-radius: 4px 4px 0 0;

      @include block_992 {
        left: 0;
        top: 50%;
        right: auto;
        bottom: auto;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
    }
  }
}

.copy {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $dark_green;
}

.mobile-logo {
  display: none;

  @include block_992 {
    display: inline-block;
  }
}

.desktop-logo {
  display: inline-block;
  @include block_992 {
    display: none;
  }
}